* {
	margin:0;
	padding:0;
}

body {
	font: 11px  "Verdana", "Arial", sans-serif;
	color: #333;
	margin: 0;
}

img {
	border:none;
}

hr {
	display: none;
}

a { 
	color:	#2D92DF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
a.print {
    display: none;
}
blockquote {
	text-indent: 2.5em;
}
.clear {
	clear:both;
}
/*************************************
* Structure
*************************************/
#wrap {
	margin: 1em auto;
	text-align: left;
}
/*************************************
* Content
*************************************/
#header, #right, #footer {
        display: none;
}
#content h2 {
    font-size: 1.3em;
}
#content p, #content h2, #content ul {
    margin-bottom: 1em;
}
#content p {
	padding: 2px 0;
	font-size: 1em;
}
#content ul,ol,blockquote {
	margin: 15px 0 10px 15px;
}
#content ul li {
	margin: 0;
	list-style-type: disc;
}
#content ul.inlinelist {
	margin: 1em 0;
    overflow: hidden;
}
* html #content ul.inlinelist {
    height: 1%;
}
#content ul.inlinelist li {
	margin-right: 0.8em;
    width: 35px;
	list-style-type: none;
    display: block;
    float: left;
}
dt, dd {
    float: left;
    width: 70%;
}
dl {
    overflow: hidden;
}
* html dl {
    height: 1%;
}
dt {
    clear: both;
    width: 29%;
}
dd {
    margin-bottom: 1em;
